@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-marker {
  height: 20px;
  width: 20px;
  z-index: 5;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #305bad;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
